{% extends "base.html" %}
{% block title %}Add User{% endblock %}
{% load static %}

{% block content %}
<li>
  <a href="javascript:window.history.back();" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left backBtn"></i> Back
      </a>
</li>
{% endblock %}

{% block body_block %}
<style type="text/css">
    #roleForm label.error {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      color:#e82d2d;
      width: 100%;
    }
    
  </style>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Add User</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <!-- right column -->
          <div class="col-md-4" style="margin: 0 auto;">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add User</h3>
              </div>
              <!-- /.card-header -->
              <form role="form" method="post" id="roleForm" enctype="multipart/form-data">
              <div class="card-body">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Role <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Role">
                      </div>
                    </div>
                    

                    
                  </div>
                     
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- /.card-body -->
            </div>
          </form>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
