{% extends "base.html" %}
{% block title %}Add User{% endblock %}
{% load static %}

{% block content %}
<li>
  <a href="javascript:window.history.back();" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left backBtn"></i> Back
      </a>
</li>
{% endblock %}

{% block body_block %}
<style type="text/css">
    #moduleForm label.error {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      color:#e82d2d;
      width: 100%;
    }
    
  </style>

 <!-- Content Wrapper. Contains page content -->

 

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Add Module</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <!-- right column -->
          <div class="col-md-8" style="margin: 0 auto;">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Module</h3>
              </div>
              <!-- /.card-header -->
              <form role="form" method="post" id="moduleForm" class="add_name" name="add_name"  enctype="multipart/form-data">
              <div class="card-body">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Module Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="module_name" id="module_name" placeholder="Module Name">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">

                      <div class="form-group">
                        <label>Description<span class="text-danger">*</span></label>
                        <textarea class="form-control" name="description" id="description" rows="3" placeholder="Description"></textarea>
                      </div>
                    </div>
                    
                    
                  </div>


                

               
               <label for="customFile">Action Item</label>
                    <div class="table-responsive">  
                         <table class="table table-no-bordered" id="dynamic_field">  
                              <tr>  
                                   <td><input type="text" name="name[]" placeholder="Enter Action" class="form-control name_list" /></td> 
                                    <td><input type="text" name="name[]" placeholder="Enter Url" class="form-control name_list" /></td>  
                                   <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>  
                              </tr>  
                         </table>                         
                    </div>
                <!-- <div class="row" >
                  <div class="col-sm-12">
                    <label for="customFile">Action Item</label>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" name="name[]" placeholder="Enter Action" class="form-control name_list" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" name="name[]" placeholder="Enter Url" class="form-control name_list" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <button type="button" name="add" id="add" class="btn btn-success">Add More</button>
                    </div>
                  </div>
                </div> -->

              <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Module Path  <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="module_path" id="module_path" placeholder="Module Name">
                      </div>
                    </div>
                    
                    
                  </div>


              <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Module Icon</label>
                        <input type="text" class="form-control" name="module_icon" id="module_icon" placeholder="Module Icon">
                        
                      </div>
                    </div>
                    
                    
                  </div>
                     
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- /.card-body -->
            </div>
          </form>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
